.header {
    background-color: #FFFFFF;
}

.main {
    background-color: #fcfcfc;
    color: #ffffff;
}

.leftSidebar {
    color: #ffffff;
    background-color: #F57E60;
}

.leftSidebar h2 {
    color: #FFFFFF;
}

.leftSidebar__button {
    color: rgba(255, 255, 255, 0.8);
}

.leftSidebar__button:hover {
    color: #FFFFFF;
}

.paintBody__brushPanel {
    background-color: #F57E60;
}

.paintBody__button {
    color: #ffffff;
    background-color: #F57E60;
}

.paintBody__button:hover {
    background-color: #ffad99;
}

.paintBody__button_collapse {
    color: #ffffff;
}

.paintBody__sidePanel {
    background-color: #F57E60;
}

.paintBody__button_fig {
    color: #FFFFFF;
    background-color: #F57E60;
}

.paintBody__button_fig:hover {
    background-color: #FFAD99;
}

.paintBody .control {
    color: #FFFFFF;
    background-color: #F7F7F9;
}

.paintBody__delBtn {
    color: #FFFFFF;
}

.paintBody__button.active {
    color: #FFFFFF;
    background-color: #f72d00;
}

.paintBody__button_fig.control {
    background-color: #F57E60;
}

.paintBody__button_fig.active {
    color: #FFFFFF;
    background-color: #f72d00;
}

.paintBody__canvas {
    background-color: #FFFFFF;
}

.paintBody__button_layers {
    color: #FFFFFF;
}

.paintBody__button_layers.active {
    background-color: #f72d00;
}

.paintBody__button_layers:hover {
    background-color: #FFAD99;
}

.border {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
